openapi: "3.0.3"

info:
  title: RentLoop API
  version: "1.0.0-beta"
  description: |
    RentLoop automates rent collection for Kenyan landlords via M-Pesa Daraja
    and WhatsApp. This spec covers all inbound webhook endpoints, the admin
    API, and the health check.

    **Base URL (production):** `https://api.rentloop.co.ke`

    **Authentication:**
    - Webhook endpoints (`/mpesa/*`, `/bot/*`) are authenticated by Safaricom
      IP allowlist and Twilio HMAC-SHA1 signature validation respectively.
    - Admin endpoints (`/admin/*`) use JWT cookies issued by `POST /admin/login`.
    - Internal endpoints (`/billing/*`) require `X-Internal-Token` and must
      originate from `127.0.0.1`.

  contact:
    name: RentLoop Support
    email: support@rentloop.co.ke

  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.rentloop.co.ke
    description: Production
  - url: http://localhost:8080
    description: Local development

tags:
  - name: Health
    description: Liveness probe
  - name: M-Pesa
    description: Safaricom Daraja C2B and STK Push callbacks
  - name: Bot
    description: Twilio WhatsApp and SMS inbound webhooks
  - name: Admin
    description: Admin dashboard and authentication (JWT protected)
  - name: Billing
    description: Internal subscription billing endpoints

paths:

  # ── Health ─────────────────────────────────────────────────────────────────

  /health:
    get:
      tags: [Health]
      summary: Health check
      description: Returns `{"status":"ok"}` when the server is running.
      responses:
        "200":
          description: Server is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok

  # ── M-Pesa ─────────────────────────────────────────────────────────────────

  /mpesa/c2b/callback:
    post:
      tags: [M-Pesa]
      summary: Safaricom C2B paybill callback
      description: |
        Called by Safaricom Daraja when a tenant pays to the registered
        paybill number. The handler acknowledges immediately (`ResultCode: 0`)
        and processes the payment asynchronously.

        **Caller:** Safaricom Daraja (server IPs `196.201.214.x`)
        **Auth:** IP allowlist (bypassed in `APP_ENV=development`)

        **Pipeline (async, after ACK):**
        1. Resolve landlord by `BusinessShortCode`
        2. Match `BillRefNumber` to a unit
        3. Record payment in ledger
        4. Notify landlord + tenant via WhatsApp
        5. Generate PDF receipt and upload to DO Spaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/C2BCallback"
            example:
              TransactionType: "Pay Bill"
              TransID: "LHG31AA5TX"
              TransTime: "20260403120000"
              TransAmount: "12500.00"
              BusinessShortCode: "174379"
              BillRefNumber: "A1"
              MSISDN: "254712345678"
              FirstName: "John"
              LastName: "Kamau"
      responses:
        "200":
          description: Accepted — Safaricom requires this within 5 seconds
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/C2BResponse"
              example:
                ResultCode: "0"
                ResultDesc: "Accepted"
        "400":
          description: Malformed JSON body
        "403":
          description: Request blocked — IP not in Safaricom allowlist
        "422":
          description: Invalid payload — missing required fields

  /mpesa/stk/callback:
    post:
      tags: [M-Pesa]
      summary: STK Push result callback
      description: |
        Called by Safaricom after an STK Push prompt is completed or cancelled
        by the user. Used for subscription billing payments.

        **Caller:** Safaricom Daraja
        **Auth:** IP allowlist
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/STKCallback"
      responses:
        "200":
          description: Accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/C2BResponse"

  # ── Bot ────────────────────────────────────────────────────────────────────

  /bot/whatsapp:
    post:
      tags: [Bot]
      summary: Twilio WhatsApp inbound webhook
      description: |
        Receives inbound WhatsApp messages from Twilio and dispatches them
        to the bot service. Always returns `200` immediately; processing is
        asynchronous.

        **Caller:** Twilio
        **Auth:** `X-Twilio-Signature` HMAC-SHA1 validation (bypassed in dev)
        **Rate limit:** 30 messages/phone/minute
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                From:
                  type: string
                  description: Sender's WhatsApp number (prefixed `whatsapp:`)
                  example: "whatsapp:+254712345678"
                Body:
                  type: string
                  description: Message text
                  example: "LIST"
                MessageSid:
                  type: string
                  description: Twilio message SID
              required: [From, Body]
      responses:
        "200":
          description: Accepted

  /bot/sms:
    post:
      tags: [Bot]
      summary: Twilio SMS inbound webhook
      description: |
        Receives inbound SMS messages from Twilio. Same processing pipeline
        as WhatsApp.

        **Auth:** `X-Twilio-Signature` HMAC-SHA1 validation
        **Rate limit:** 30 messages/phone/minute
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                From:
                  type: string
                  example: "+254712345678"
                Body:
                  type: string
                  example: "TOTAL"
              required: [From, Body]
      responses:
        "200":
          description: Accepted

  # ── Admin ──────────────────────────────────────────────────────────────────

  /admin/login:
    get:
      tags: [Admin]
      summary: Show login page
      responses:
        "200":
          description: HTML login form
    post:
      tags: [Admin]
      summary: Authenticate admin
      description: |
        Validates email + password and sets a `rentloop_admin` JWT cookie
        (24-hour TTL, HttpOnly).
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
              required: [email, password]
      responses:
        "302":
          description: Redirect to `/admin/dashboard` on success, back to login on failure

  /admin/logout:
    post:
      tags: [Admin]
      summary: Clear admin session
      responses:
        "302":
          description: Redirect to login

  /admin/dashboard:
    get:
      tags: [Admin]
      summary: Admin dashboard
      security:
        - cookieAuth: []
      responses:
        "200":
          description: HTML dashboard
        "302":
          description: Redirect to login if unauthenticated

  /admin/clients:
    get:
      tags: [Admin]
      summary: List all landlords
      security:
        - cookieAuth: []
      responses:
        "200":
          description: HTML clients list

  /admin/clients/{id}:
    get:
      tags: [Admin]
      summary: Landlord detail view
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: HTML detail page
        "404":
          description: Landlord not found

  /admin/clients/{id}/activate:
    post:
      tags: [Admin]
      summary: Manually activate a landlord subscription
      description: Sets subscription status to active after verifying Daraja credentials.
      security:
        - cookieAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "303":
          description: Redirect back to client detail

  /admin/payments:
    get:
      tags: [Admin]
      summary: Recent payments list
      security:
        - cookieAuth: []
      responses:
        "200":
          description: HTML payments table

  /admin/payments/unmatched:
    get:
      tags: [Admin]
      summary: Unmatched payments (no unit found)
      security:
        - cookieAuth: []
      responses:
        "200":
          description: HTML unmatched payments table

  # ── Billing (internal) ─────────────────────────────────────────────────────

  /billing/stk:
    post:
      tags: [Billing]
      summary: Trigger STK Push for subscription payment
      description: |
        Initiates an STK Push to the landlord's phone for their monthly
        subscription fee. Only callable from `127.0.0.1`.

        **Auth:** `RequireInternal` middleware (localhost only)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                landlord_id:
                  type: string
                  format: uuid
                phone:
                  type: string
                  description: E.164 format without +
                  example: "254712345678"
              required: [landlord_id, phone]
      responses:
        "200":
          description: STK Push initiated
        "204":
          description: No charge (free tier)
        "400":
          description: Missing required fields
        "403":
          description: Not localhost
        "404":
          description: Landlord not found
        "502":
          description: Daraja STK Push failed

# ── Components ────────────────────────────────────────────────────────────────

components:

  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: rentloop_admin

  schemas:

    C2BCallback:
      type: object
      required:
        - TransID
        - TransAmount
        - BusinessShortCode
        - BillRefNumber
        - MSISDN
      properties:
        TransactionType:
          type: string
          example: "Pay Bill"
        TransID:
          type: string
          description: Safaricom transaction ID (globally unique)
          example: "LHG31AA5TX"
        TransTime:
          type: string
          description: "YYYYMMDDHHmmss"
          example: "20260403120000"
        TransAmount:
          type: string
          description: Amount as string (e.g. "12500.00")
          example: "12500.00"
        BusinessShortCode:
          type: string
          description: Paybill number
          example: "174379"
        BillRefNumber:
          type: string
          description: Account number — tenant's unit ref
          example: "A1"
        InvoiceNumber:
          type: string
        OrgAccountBalance:
          type: string
        ThirdPartyTransID:
          type: string
        MSISDN:
          type: string
          description: Tenant's phone number
          example: "254712345678"
        FirstName:
          type: string
          example: "John"
        MiddleName:
          type: string
        LastName:
          type: string
          example: "Kamau"

    STKCallback:
      type: object
      properties:
        Body:
          type: object
          properties:
            stkCallback:
              type: object
              properties:
                MerchantRequestID:
                  type: string
                CheckoutRequestID:
                  type: string
                ResultCode:
                  type: integer
                  description: 0 = success
                ResultDesc:
                  type: string
                CallbackMetadata:
                  type: object
                  properties:
                    Item:
                      type: array
                      items:
                        type: object
                        properties:
                          Name:
                            type: string
                          Value:
                            oneOf:
                              - type: string
                              - type: number

    C2BResponse:
      type: object
      properties:
        ResultCode:
          type: string
          enum: ["0", "1"]
          description: '"0" = accepted, "1" = rejected'
        ResultDesc:
          type: string
          example: "Accepted"

    Payment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        transaction_id:
          type: string
        unit_id:
          type: string
          format: uuid
        landlord_id:
          type: string
          format: uuid
        tenant_phone:
          type: string
        amount:
          type: integer
          description: Amount in KES (integer — no decimals stored)
        status:
          type: string
          enum: [paid, partial, overpaid, unmatched, unknown]
        month_key:
          type: string
          pattern: '^\d{4}-\d{2}$'
          example: "2026-04"
        payment_source:
          type: string
          enum: [mpesa_stk, bank_paybill, manual]
        paid_at:
          type: string
          format: date-time

    Receipt:
      type: object
      properties:
        id:
          type: string
          format: uuid
        payment_id:
          type: string
          format: uuid
        landlord_id:
          type: string
          format: uuid
        unit_id:
          type: string
          format: uuid
        receipt_number:
          type: string
          example: "RL-20260403-8D0D22F1"
        storage_key:
          type: string
          example: "receipts/accee42b-.../RL-20260403-8D0D22F1.pdf"
        public_url:
          type: string
          format: uri
          example: "https://rentloop.fra1.digitaloceanspaces.com/receipts/.../RL-20260403-8D0D22F1.pdf"
        sent_to_phone:
          type: string
        sent_at:
          type: string
          format: date-time

    Unit:
      type: object
      properties:
        id:
          type: string
          format: uuid
        landlord_id:
          type: string
          format: uuid
        unit_ref:
          type: string
          example: "A1"
        tenant_name:
          type: string
        tenant_phone:
          type: string
        expected_rent:
          type: integer
        active:
          type: boolean

    Landlord:
      type: object
      properties:
        id:
          type: string
          format: uuid
        whatsapp_phone:
          type: string
        name:
          type: string
        apartment_name:
          type: string
          example: "Sunrise Apartments"
        premise_name:
          type: string
          example: "Sunrise Apartments — Kitengela"
        paybill_number:
          type: string
          example: "174379"
        subscription_status:
          type: string
          enum: [active, inactive, suspended]
        unit_count:
          type: integer
